<!DOCTYPE html>
<html>

    <head>    
        <title>EasyShop | A solution for all your shopping needs</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="grid-container">
            <header class="rows">
                <div>
                    <a class="brand-text" href="index.html">EasyShop</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="login.html">Login</a>
                </div>
            </header>

            <main>
                <div class="rows center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680px by 830px -->
                            <img class="medium" src = "./images/test-product.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Hauwei Mate 40 Pro</h2>
                            </a>
                            <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                $1270
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680px by 830px -->
                            <img class="medium" src = "./images/test-product.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Hauwei Mate 40 Pro</h2>
                            </a>
                            <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star-half"></i></span>
                            </div>
                            <div class="price">
                                $1270
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680px by 830px -->
                            <img class="medium" src = "./images/test-product.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Hauwei Mate 40 Pro</h2>
                            </a>
                            <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $1270
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680px by 830px -->
                            <img class="medium" src = "./images/test-product.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Hauwei Mate 40 Pro</h2>
                            </a>
                            <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $1270
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680px by 830px -->
                            <img class="medium" src = "./images/test-product.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Hauwei Mate 40 Pro</h2>
                            </a>
                            <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $1270
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size should be 680px by 830px -->
                            <img class="medium" src = "./images/test-product.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Hauwei Mate 40 Pro</h2>
                            </a>
                            <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $1270
                            </div>
                        </div>
                    </div>
                </div>
                
            </main>

            <footer class="rows center">&copy Prabina Raut ITSS438</footer>
        </div>
    </body>

</html>