
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 62.5%; /*16px * 62.5= 10px = 1rem */
  box-sizing: border-box;
}

#root{
  height: 200%;
}

/* Layout */
.grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: rgb(19, 19, 22);
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: rgb(19, 19, 22);
  color: white;
}

.rows{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rows.center{
  justify-content: center;
}

.rows.top{
  align-items: flex-start;
}

col-1{
  flex: 1 1 25rem;
}

col-2{
  flex: 2 1 50rem;
}
/* common styles */

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;
}
a:hover{
  color: gold;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem rgb(73, 66, 66) solid; 
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  cursor: pointer;
}
button:hover{
  border: 0.2rem black solid;
}

button.primary{
  background-color: gold;
}
button.block{
  width: 100%;
}
/* Header */

header a{
  color: white;
  padding: 1rem;
}

a.brand-text{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}


/* Images */
img{
  border-radius: 0.5rem;
}

img.medium{
  max-width: 28rem;
  width: 100%;
}

img.large{
  width:100%;
}
/* Card */
.card{
  border: 0.1rem gray solid;
  background-color: lightgray;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body{
  padding: 1rem;
}

.card-body > *{
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

/* Rating */
.rating span{
  color: rgb(192, 175, 79);
  margin: 0.1rem;
}

.rating span:last-child{
  color: black;
}

/* Alert */
.success{
  color:rgb(98, 202, 50);
}
.error{
  color:red;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem
}

.alert-info{
  color: blue;
  background-color: beige;
}
.alert-danger{
  color: red;
  background-color: lightpink;
}